$header-footer-text-color: #e8e8e8;
$menu-separator-border-color: #282e33;
$main-text-color: #464646;
$twitter-quote-main-color: #bababa;
$twitter-quote-footer-color: #999999;
$copyrights-text-color: #818181;
$border-color: #242424;
$menu-hover-background: #2f2f2f;
$footer-title-bot-border-color: #6e6e6e;
$username-timestamp-text-color: #c7c7c7;
$form-border-color: #ebebeb;
$form-text-color: #cccccc;
$portfolio-filter-hover-color: #969697;
$portfolio-modal-text-color: #ffffff;

$main-font-size: 12px;
$main-title-font-size: 14px;
$footer-title-font-size: 16px;

$content-width: 950px;
$section-width: 670px;
$aside-width: 220px;
$footer-block-width: 230px;

$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

$images-path: "/img";