@import "../../scss/variables";

.archives-descr {
  margin-bottom: 45px;
}

.month-archives {
  margin-bottom: 45px;
}

.first-paragraph {
  margin-bottom: 10px;
}

.aside-block {
  margin-bottom: 30px;
}

.footer-block {
  color: $header-footer-text-color;
  max-width: $footer-block-width;
}