.about-section {
  width: 675px;
}

.about-component-header {
  margin-bottom: 25px;
}

.about-user-pic {
  padding: 2px;
  border: 1px solid #cfcfcf;
  float: left;
  margin: 0 25px 25px 0;
}

.about-buttons {
  margin-bottom: 20px;
}
