@import "../../scss/variables";

.username-timestamp-color {
  color: $username-timestamp-text-color;
}

.is-widget {
  margin-bottom: 20px;
}

.widget-timestamp-container {
  margin-top: 10px;
}

.is-widget-list {
  margin-bottom: 10px;
}
